<div class = 'agresiva' >
	<p>Juan C. Zepeda</p>
	<p>Te voy a matar pinche puto, más al rato lo checo</p>
	<p>2021-06-07 18:25:24</p>
</div>
<div class = 'agresiva' >
	<p>William Cruz Estrada</p>
	<p>Te voy a partir tu madre pinche maricon, a tu casaás bien el proyecto final de integración de sistemas, con la interfaz incluida</p>
	<p>2021-06-07 18:22:57</p>
</div>
<div class = 'noAgresiva' >
	<p>William Cruz Estrada</p>
	<p>Te mandé ya la interfaz</p>
	<p>2021-06-07 18:22:19</p>
</div>
<div class = 'agresiva' >
	<p>William Cruz Estrada</p>
	<p>We</p>
	<p>2021-06-07 18:22:03</p>
</div>
